@import 'var.css';


.sticker7 .album-sticker-vertical .album-sticker-border {
	border-left: none !important;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.sticker7 .album-sticker-vertical {
	border-left: none !important;
	border-radius: 0;
}

.sticker33 {
	grid-column: 16 / 25;
	grid-row: 2 / 6;
}

.sticker34 {
	grid-column: 16 / 25;
	grid-row: 6 / 10;
}

.sticker33 .album-sticker .album-sticker-border {
	border-bottom: none !important;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	padding-top: 4px;
}

.sticker33 .album-sticker {
	border-bottom: none !important;
	border-radius: 0;
}

.sticker34 .album-sticker .album-sticker-border {
	border-top: none !important;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.sticker34 .album-sticker {
	border-top: none !important;
	border-radius: 0;
}

.sticker39 {
	grid-column: 1 / 7;
	grid-row: 2 / 7;
}

.sticker40 {
	grid-column: 8 / 15;
	grid-row: 2 / 6;
}

.sticker38 {
	grid-column: 1 / 7;
	grid-row: 8 / 13;
}

.sticker37 {
	grid-column: 8 / 15;
	grid-row: 7 / 12;
}

.sticker41 {
	grid-column: 16 / 25;
	grid-row: 11 / 15;
}

.sticker42 {
	grid-column: 16 / 25;
	grid-row: 15 / 19;
}


.sticker41 .album-sticker .album-sticker-border {
	border-bottom: none !important;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	padding-top: 4px;
}

.sticker41 .album-sticker {
	border-bottom: none !important;
	border-radius: 0;
}

.sticker42 .album-sticker .album-sticker-border {
	border-top: none !important;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.sticker42 .album-sticker {
	border-top: none !important;
	border-radius: 0;
}

.sticker35 {
	grid-column: 5 / 13;
	grid-row: 20 / 25;
}

.sticker36 {
	grid-column: 13 / 21;
	grid-row: 20 / 25;
}

.sticker35 .album-sticker .album-sticker-border {
	border-right: none !important;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	padding-left: 4px;
}

.sticker35 .album-sticker {
	border-right: none !important;
	border-radius: 0;
}

.sticker36 .album-sticker .album-sticker-border {
	border-left: none !important;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.sticker36 .album-sticker {
	border-top: none !important;
	border-radius: 0;
}

.sticker43 {
	grid-column: 1 / 7;
	grid-row: 14 / 19;
}

.sticker44 {
	grid-column: 8 / 15;
	grid-row: 13 / 19;
}

.album-sticker-number33-clicked {
	position: absolute;
	top: 0;
	right: 0;
	width: 25px;
	height: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	color: rgba(33, 37, 41, 0.8);
	font-size: 10px;
	line-height: 10px;
	text-align: center;
	z-index: 1;
	margin: 0 auto;
	border-left: 1px solid rgba(33, 37, 41, 0.8);
	border-bottom: 1px solid rgba(33, 37, 41, 0.8);
	transition: 2s;
}


@media screen and (max-width: 768px) {
	
}