@import "var.css";

.album-page {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	align-items: center;
}

.album-page-expand {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	align-items: center;
}

.album-page-title {
	text-align: center;
	padding-top: 20px;
}

.album-sticker:hover, .album-sticker-vertical:hover, .album-sticker-circular:hover {
	transform: scale(1.2);
	transition: 0.5s;
	z-index: 1;
}

.album-market-button {
	display: flex;
	justify-content: space-between;
	font-size: 15px;
	text-align: center;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.album-market-button button {
	width: 40%;
}

.album-repeats-button {
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.new-pack {
	height: max-content;
	padding-bottom: 20px;
}

.album-sticker {
	display: inline-block;
	position: relative;
	width: 250px;
	height: 250px;
	border: 2px solid var(--color-secondary);
	border-radius: 1px;
	overflow: hidden;

	margin: 20px;
}

.album-sticker-vertical {
	display: inline-block;
	position: relative;
	width: 200px;
	height: 300px;
	overflow: hidden;
	border: 2px solid var(--color-secondary);
	border-radius: 1px;
	margin: 20px;
}



.sticker1 {
	display: flex;
	justify-content: center;
}

.album-break {
	flex-basis: 100%;
	height: 0;
}

.album-sticker-circular {
	display: inline-block;
	position: relative;
	width: 250px;
	height: 250px;
	border: none;
	overflow: hidden;
	border: 2px solid var(--color-secondary);
	border-radius: 50%;
	margin: 20px;
}

.album-border-golden {
	border: 2px solid rgb(255, 231, 46);
	filter: brightness(1.3);
	transition-duration: 2s;
}

.album-sticker-number {
	position: absolute;
	top: 1;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	background-color: var(--color-secondary);
	color: var(--color-primary);
	font-size: 20px;
	line-height: 75px;
	text-align: center;
	border-radius: 50%;
	z-index: 1;
	margin: 0 auto;
}

.album-sticker-number-clicked {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 25px;
	height: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	color: rgba(33, 37, 41, 0.8);
	font-size: 10px;
	line-height: 10px;
	text-align: center;
	z-index: 1;
	margin: 0 auto;
	border-left: 1px solid rgba(33, 37, 41, 0.8);
	border-top: 1px solid rgba(33, 37, 41, 0.8);
	transition: 2s;
}

.album-sticker-pasted-button {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 25%;
	background-color: rgba(255, 255, 255, 0.5);
	color: var(--color-primary);
	font-size: 20px;
	line-height: 25%;
	text-align: center;
	z-index: 1;
}

@media (max-width: 768px) {
	.album-page {
		width: 100%;
	}

	.sticker-hidden {
		display: none;
	}

	.album-page-expand {
		display: flex;
		flex-direction: column;
		width: 95%;
		margin: calc(50%) auto;
		height: 100%;
		justify-content: center;
		align-items: center;
	}

	.album-sticker {
		width: 140px;
		height: 140px;
	}


	.album-sticker-vertical {
		width: 130px;
		height: 200px;
	}

	.sticker-expanded {
		width: 350px;
		height: 350px;
		box-shadow: 0px 0px 15px 0px rgba(33, 37, 41, 0.5);
		margin: 0px;
		margin-top: 50px;
	}

	.sticker-expanded-vertical {
		margin: 0px;
		width: 350px;
		height: 500px;
		box-shadow: 0px 0px 15px 0px rgba(33, 37, 41, 0.5);
		margin-top: 100px;
	}

	.album-sticker-circular {
		width: 200px;
		height: 200px;
		border-radius: 50%;
	}

	.album-sticker:hover, .album-sticker-vertical:hover, .album-sticker-circular:hover {
		transform: none;
		transition: 0;
		z-index: 0;
	}

	



	
}
