.album-page4-title {
	grid-column: 1 / 10;
	text-align: center;
	grid-row: 1
}

.sticker7 .album-sticker-vertical .album-sticker-border {
	border-left: none !important;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.sticker7 .album-sticker-vertical {
	border-left: none !important;
	border-radius: 0;
}

.sticker25 {
	grid-column: 14 / 21;
	grid-row: 2 / 6;
}

.sticker26 {
	grid-column: 3 / 11;
	grid-row: 2 / 8;
}

.sticker27 {
	grid-column: 14 / 23;
	grid-row: 7 / 11;
}

.sticker28 {
	grid-column: 3 / 11;
	grid-row: 9 / 14;
}

.sticker29 {
	grid-column: 5 / 13;
	grid-row: 15 / 20;
}

.sticker30 {
	grid-column: 13 / 21;
	grid-row: 15 / 20;
}

.sticker29 .album-sticker .album-sticker-border {
	border-right: none;
	padding-right: 4px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.sticker29 .album-sticker {
	border-left: none !important;
	border-radius: 0;
}

.sticker30 .album-sticker .album-sticker-border {
	border-left: none !important;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.sticker30 .album-sticker {
	border-left: none !important;
	border-radius: 0;
}

.sticker31 {
	grid-column: 4 / 12;
	grid-row: 21/ 25;
}

.sticker32 {
	grid-column: 15 / 23;
	grid-row: 21 / 25;
}

@media screen and (max-width: 768px) {
	.album-page4-title {
		grid-row: 1;
		grid-column: 1 / 15;
		font-size: 14px;
	}

	.sticker26 {
		grid-column: 4 / 13;
		padding-top: 10px;
	}

	.sticker28 {
		grid-column: 4 / 12;
	}

	.sticker27 {
		grid-row: 9 / 13
	}
}