@import 'var.css';

.cintos {
	display: flex;
	flex-direction: column;
	background-color: var(--color-primary);
	margin-bottom: -1px;
}
.cintos h1 {
	text-align: center;
	margin-bottom: 10px;
	color: aliceblue;
}

.cintos-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(1, 1fr);
	align-items: center;
	z-index: 2;
}



.cintos-grid h2 {
	text-align: center;
}

.cintos-grid p {
	padding: 20px;
	text-align: justify;
}

.cintos-grid-image-container {
	width: 50%;
	margin: 0 auto;
	opacity: 0.5;
	transition: 1s;
}

.cintos-black {
	background-color: var(--color-primary);
}

.cintos-white {
	color: var(--color-primary);
	background-color: #9ba2a8;
	margin-bottom: -5px;
}

.cintos-green {
	background-color: #144314;
	
}

.cintos-black {
	color: var(--color-secondary);
	background-color: var(--color-primary);
	margin-top: 6px;
}

.cintos-red {
	background-color: #ec5151;
}

.cintos-yellow {
	background-color: #f0ad4e;
	border-top: 1px solid #f0ad4e;
	margin-top: 4px;
	margin-bottom: -5px;
}

.cintos-wave-container {
	width: 100%;
	align-self: center;
	justify-self: center;
	margin-bottom: -5px;
}

.cintos-blue {
	background-color: #7f8fef;
	border-top: 1px solid #7f8fef;
	color: var(--color-secondary);
	margin-top: 4px;
	margin-bottom: -5px;
}

.reverse {
	margin-top: -5px;
	rotate: 180deg;
}

.last {
	margin-bottom: 25px;
}

.cintos-grid-image-container:hover {
	opacity:  1;
}

@media (max-width: 768px) {
	.cintos-grid {
		width: 100%;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	.cintos-grid p {
		padding-right: 10px;
		padding-left: 10px;
	}

	.cintos-wave-container {
		width: 100%;
	}

	.cintos-grid-image-container {
		opacity: 1;
	}
}