.dojang-formas {
	background: rgb(255, 255, 255);
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 1) 6%,
		rgba(238, 236, 112, 1) 20%,
		rgba(142, 250, 160, 1) 33%,
		rgba(146, 150, 250, 1) 48%,
		rgba(253, 109, 109, 1) 64%,
		rgba(33, 37, 41, 1) 75%
	);
}

.dojang-formas h1 {
	text-align: center;
	margin: 0 auto;
	color: #212529;
	border-bottom: 1px solid transparent;
}

.dojang-pattern-grid {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(250px);
	grid-template-rows: repeat(4);
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 10px;
}

.odd {
	/*background-color: #848282;*/
	border-top: 1px solid #f2f2f2;
	color: #212529;
	border-top: 1px solid transparent;
}

.even {
	/*background-color: #212529;*/
	color: #f2f2f2;
}

.dojang-yellowStripe {
	background: rgb(255, 255, 255);
	background: linear-gradient(
		-270deg,
		rgba(255, 255, 255, 1) 78%,
		rgba(245, 255, 70, 1) 94%
	);
	color: #212529;
}

.dojang-yellow {
	background-color: #f5ff46;
	color: #212529;
}

.dojang-greenStripe {
	background: rgb(255, 255, 255);
	background: linear-gradient(-270deg, #f5ff46 78%, rgba(0, 255, 0, 1) 94%);
	color: #212529;
}

.dojang-green {
	background-color: #00ff00;
	color: #212529;
}

.dojang-blueStripe {
	background: rgb(255, 255, 255);
	background: linear-gradient(-270deg, #00ff00 78%, rgba(0, 0, 255, 1) 94%);
	color: #212529;
}
.dojang-pattern-grid h2 {
	grid-column-start: 1;
	grid-column-end: 3;
	text-align: center;
}

.dojang-pattern-img {
	position: relative;
	margin: 0 auto;
	width: 100px;
	height: 50px;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row: 2;
	margin-top: -20px;
	rotate: 3deg;
}

.dojang-pattern-diagram {
	width: 200px;
	text-align: center;
	grid-row-start: 3;
	grid-row-end: 5;
	padding-bottom: 10px;
}

.dojang-pattern-diagram-img {
	position: relative;
	margin: 0 auto;
	width: 150px;
	height: 150px;
}

.dojang-pattern-description {
	grid-column-start: 2;
	grid-column-end: 3;
}

.dojang-pattern-description p,
.dojang-pattern-movements p {
	text-align: justify;
}

.dojang-pattern-description h3,
.dojang-pattern-movements h3 {
	text-align: center;
}

.dojang-pattern-movements {
	grid-row-start: 3;
	grid-column-start: 2;
	grid-column-end: 3;
}

.dojang-pattern-movements p {
	text-align: center;
}

@media screen and (max-width: 600px) {
	.dojang-pattern-grid {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(minmax(100px, auto));
	}

	.dojang-pattern-grid h2 {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.dojang-pattern-diagram {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 2;
		margin: 0 auto;
		padding-top: 15px;
	}
	.dojang-pattern-description {
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 1;
		grid-column-end: 2;
		margin: 0 auto;
	}
	.dojang-pattern-movements {
		grid-row-start: 4;
		grid-row-end: 5;
		grid-column-start: 1;
		grid-column-end: 2;
		margin: 0 auto;
	}
}
