@import 'var.css';

.home {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-top: 0;
	flex-grow: 1;
}

.home__logo-container {
	height: 100%;
	width: 100%;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.home__description-container {
	width: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: var(--color-primary);
}

.home__description-container--icon {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home__description-container--text {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.home__description-container--title {
	width: 100%;
	margin-left: -5%;
}

.home__description-container--title h3 {
	font-size: 40px;
	text-align: center;
}

@media (max-width: 768px) {

	.home__description-container {
		width: 100%;
		height: 100%;
		flex-direction: column;
		justify-content: space-around;
	}

	.home__description-container--title h3 {
		font-size: 25px;
		
	}
	.home__description-container--title {
		margin-left: 0%;
		text-align: center
	}

	.home__description-container--icon {
		display: none;
	}

	.home__description-container--description {
		width: 90%;
		align-self: center;
	}

	.home__description-container--description p {
		text-align: center;
	}

	
	
}

