.market-section {
	padding-bottom: 30px;
}

.market-section h1 {
	text-align: center;
}

.market-grid {
	display: grid;
	grid-template-columns: 1fr;
	padding: 20px;
	place-items: center;
}

.market-image-container {
	position: relative;
	width: 300px;
	height: 300px;
}

.market-items-description {
	text-align: center;
}

.market-link {
	text-decoration: none;
	color: black;
	background-color: #f5f5f5;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
	margin: 0 auto;
	width: max-content;
	cursor: pointer;
}
