@import "var.css";

.market-section {
	padding-bottom: 30px;
}

.market-section h1 {
	text-align: center;
}

.market-grid {
	display: grid;
	grid-template-columns: 1fr;
	padding: 20px;
	place-items: center;
}

.market-image-container {
	position: relative;
	width: 300px;
	height: 300px;
}

.market-items-description {
	text-align: center;
}

.market-link {
	text-decoration: none;
	color: var(--color-primary);
	background-color: #f5f5f5;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
	margin: 0 auto;
	width: max-content;
	cursor: pointer;
}

.fifty-points-award {
	background-color: rgb(238, 64, 64);
	width: max-content;
	margin: 0 auto;
	padding: 10px;
	border-radius: 5px;
	color: var(--color-secondary);
	font-size: 20px;
	/* no pasarse del ancho de la pantalla */
	max-width: 80%;
	text-align: center;
}

.seventy-points-award {
	background-color: rgb(58, 57, 57);
	width: max-content;
	margin: 0 auto;
	margin-top: 10px;
	padding: 10px;
	border-radius: 5px;
	color: var(--color-secondary);
	font-size: 20px;
	/* no pasarse del ancho de la pantalla */
	max-width: 80%;
	text-align: center;
}


.album-percentage {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 20px;
	width: 50%;
	height: 30px;
	margin: 0 auto;
	border: 1px solid #ccc;
	box-shadow: 0 1px 0 #fff;
	border-radius: 4px;
}

.album-percentage b {
	color: #fff;
	line-height: 20px;
	padding-left: 2px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.show-ranking-button {
	display: flex;
	justify-content: center;
	width: 100%;
}

.show-ranking-button button {
	width: max-content;
	margin-top: 20px;
	
}

@media screen and (max-width: 768px) {
	.album-percentage {
		width: 80%;
		font-size: 12px;
		height: 20px;
	}
	.market-section h1 {
		font-size: 20px;
	}

	.fifty-points-award {
		color: var(--color-secondary);
		font-size: 12px;
		max-width: 90%;
	}

	.seventy-points-award {
		color: var(--color-secondary);
		font-size: 12px;
		max-width: 90%;
	}
}
