.menu {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 64px;
	align-content: center;
	background-color: #212529;
	z-index: 100;
}

.hamburger__menu {
	display: none;
}

.menu__container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	align-items: center;
}

.menu__container__logo {
	min-width: max-content;
	padding-left: 3%;
}

.menu__container__logo a {
	text-decoration: none;
	color: #fff;
	font-size: 1.5rem;
	font-weight: bold;
}

.menu__container__logo a:visited {
	color: #fff;
}

.menu__container__menu {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: space-between;
	padding-left: 15%;
	padding-right: 3%;
	flex-wrap: wrap;
}

.menu__container__menu--item {
	display: flex;
	flex-direction: row;
	min-width: max-content;
	justify-self: space-between;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.menu__container__menu--item a {
	text-decoration: none;
	color: #fff;
	font-size: 1.2rem;
	padding: 0.5rem;
	transition-duration: 0.5s;
}

.menu__container__menu--item a:visited {
	color: #fff;
}

.menu__container__menu--item a:hover {
	font-weight: bold;
	color: #005c97;
}

.menu__container__hamburger {
	display: none;
}

@media screen and (max-width: 768px) {
	.menu__container__menu {
		display: none;
	}

	.menu__container__hamburger {
		display: flex;
		width: 100%;
		justify-content: flex-end;
		padding-right: 5%;
	}

	/* .hamburger__menu {
		display: flex;
		height: 0%;
		opacity: 0;
		transition: all 1s;
	}

	.hamburger__menu--item {
		display: flex;
		opacity: 0;
		height: 0%;
		transition: all 1s;

		
	}
	.hamburger__menu--item a {
		display: flex;
		height: 0%;
		opacity: 0;
		transition: all 1s;

		
	} */

	.hamburger__menu {
		position: absolute;
		transform: translateY(-100%);
		display: flex;
		width: 100%;
		height: max-content;
		justify-content: flex-end;
		padding-inline: 3%;
		padding-block: 1%;
		flex-direction: column;
		opacity: 0.95;
		z-index: 1;
		transition: all 1s;
		background-color: #212529;
	}

	.hamburger__checkbox {
		display: none;
	}

	.hamburger__menu.opened {
		transform: translateY(calc(0% + 64px));
	}

	.hamburger__menu--item {
		display: flex;
		width: 100%;
		height: max-content;
		justify-content: flex-end;
		padding-inline: 3%;
		padding-block: 1%;
		flex-direction: column;
		opacity: 1;
	}

	.hamburger__menu--item a {
		height: auto;
		display: flex;
		text-decoration: none;
		color: rgba(255, 255, 255, 0.55);
		font-size: 1rem;
		opacity: 1;
	}
}
