@import 'var.css';

.album-sticker  .album-image-clicked-back {
	transform: rotateY(90deg);
    transition: all ease-in 0.5s;
	position: absolute;
}

.new-sticker .new-sticker-clicked-back {
	transform: rotateY(90deg);
    transition: all ease-in 0.5s;
	position: absolute;
	
}

.album-sticker-vertical .album-image-clicked-back {
	transform: rotateY(90deg);
    transition: all ease-in 0.5s;
	position: absolute;
}

.new-sticker-vertical .new-sticker-clicked-back {
	transform: rotateY(90deg);
	transition: all ease-in 0.5s;
	position: absolute;
	
}

.album-image-not-clicked-back {
	transform: rotateY(0deg);
    transition-delay: 0.5s;
}

.new-sticker-not-clicked-back {
	transform: rotateY(0deg);
	transition-delay: 0.5s;
	
}

.album-sticker .album-image-clicked {
	transition: all ease-in 0.5s;
    transition-delay: 0.5s;
}

.new-sticker .new-sticker-clicked {
	transition: all ease-in 0.5s;
	transition-delay: 0.5s;
	 
}

.album-sticker-vertical .album-image-clicked   {
	
	transition: all ease-in 0.5s;
	transition-delay: 0.5s;
}

.new-sticker-vertical .new-sticker-clicked {
	
	transition: all ease-in 0.5s;
	transition-delay: 0.5s;
}

.album-image-not-clicked {
	transform: rotateY(90deg);
    transition-delay: 0s;
}

.new-sticker-not-clicked {
	transform: rotateY(90deg);
	transition-delay: 0s;
}

.new-pack-border {	
	position: relative;
	border: 4px solid var(--color-secondary);
	width: calc(100% - 8px );
	height: calc(100% - 8px);
	transition: 1s ease-out; 
	transition-delay: 1s;
}

.album-sticker-border {
	position: relative;
	border: 4px solid var(--color-secondary);
	width: calc(100% - 8px );
	height: calc(100% - 8px);
	transition: 1s ease-out; 
	transition-delay: 1s;
	border-radius: 5px;

}

.new-pack {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	justify-content: space-around;
	align-items: center;
}

.new-sticker {
	display: inline-block;
	position: relative;
	width: 250px;
	height: 187.5px;
	/* border: 4px solid var(--color-secondary); */
	overflow: hidden;
}

.new-sticker-vertical {
	display: inline-block;
	position: relative;
	width: 250px;
	height: 187.5px;
	/* border: 4px solid var(--color-secondary); */
	overflow: hidden;
	background-color: none;
}

.new-sticker-circular {
	display: inline-block;
	position: relative;
	width: 250px;
	height: 187.5px;
	border: none;
	overflow: hidden;
	border-radius: 50%;
}
