@import 'var.css';

.pattern-selector-container {
	display: flex;	
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	justify-content: space-evenly;
}

.pattern-selector__card {
	display: flex;
	flex-direction: column;
	width: 40%;
	height: max-content;
	background-color: var(--color-primary);
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba( var(--color-primary), 0.5);
	margin: 5%;
	padding-inline: 5%;
	justify-content: space-between;
	align-items: center;
	padding-top: 1%;
	padding-bottom: 2%;
}

.pattern-selector__card--options {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: max-content;
	background-color: var(--color-primary);
	border-radius: 3px;
	box-shadow: 0px 0px 10px rgba( var(--color-primary), 0.5);
	margin: 1%;
	justify-content: space-between;
	align-items: center;
}

.pattern-selector__card--options label {
	color:rgb(255, 174, 74);
	padding-inline: 5%;
}

.pattern-selector__button-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: max-content;
	align-items: center;
	justify-content: center;
	margin-top: 3%;
}

.pattern-selector__button-container button {
	background-color: rgb(255, 174, 74);
	color: var(--color-primary);
	border: none
}

.pattern-selector__result-container {
	display: flex;
	width: 100%;
	height: max-content;
	align-items: center;
	justify-content: center;
}

.pattern-selector__result-container p {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 3%;
	margin-bottom: 3%;
}


@media screen and (max-width: 768px) {
	.pattern-selector-container {
		height: 100%;
		justify-content: center;
		flex-wrap: wrap;
	}

	.pattern-selector__card {
		width: 80%;
		padding-bottom: 5%;
		margin: 0;
		margin-inline: 5%;
		margin-top: 3%;
	}

	.pattern-selector__card--options {
		width: 100%;
		padding: 0.5%;
		margin-bottom: 3%;
	}

	.pattern-selector__card--title {
		margin-block: 3%;
	}
}



