.app {
	position: relative;
    background-color: #252d4a;
	margin-top: 20px;
	margin-bottom: 20px;
	;
    width: 100%;
    min-height: 200px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-evenly;
}

.quiz-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	gap: 15px;
}

.quiz-container h1 {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 500;
	padding: 0;
	margin: 0;
	margin-top: 10px;
}

.quiz-selection {
	margin: 0 auto;
	width: 80%;
}

.quiz-selection button {
	width: 100%;
	color: #212529;
	border: none;
}


.btn-white {
	background-color: white;
}

.btn-yellow-stripe {
	
    background: rgb(255, 255, 255);
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 71%,
        rgba(255, 193, 7, 1) 74%
    );
}

.btn-yellow {
	background-color: rgba(255, 193, 7, 1);
}

.btn-green-stripe {
    background: rgb(255,193,7);
	background: linear-gradient(90deg, rgba(255,193,7,1) 71%, rgba(25,135,84,1) 74%);
}

.btn-green {
	background-color: rgba(25, 135, 84, 1);
}

.btn-blue-stripe {
    background: rgb(25,135,84);
	background: linear-gradient(90deg, rgba(25,135,84,1) 71%, rgba(13,110,253,1) 74%);
}

.btn-blue {
	background-color: rgba(13, 110, 253, 1);
}

.btn-red-stripe {
	background: rgb(13,110,253);
	background: linear-gradient(90deg, rgba(13,110,253,1) 71%, rgba(220,53,69,1) 74%);
}

.btn-red {
	background-color: rgba(220, 53, 69, 1);
}

.btn-black-stripe {
	background: rgb(220,53,69);
	background: linear-gradient(90deg, rgba(220,53,69,1) 71%, rgba(33,37,41,1) 74%);
	color: white !important;
	cursor: default;
	opacity: 0.5;
}

.btn-black {
	background-color: rgba(33, 37, 41, 1);
	color: white !important; 
}

.score-section {
    display: flex;
    font-size: 24px;
    align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
    width: 100%;
    position: relative;
}

.question-count {
    margin-bottom: 20px;
}

.question-count span {
    font-size: 28px;
}

.question-text {
    margin-bottom: 12px;
}


.answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quiz-button {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #234668;
    cursor: pointer;
}

button:hover {
    background-color: #555e7d;
}

button:focus {
    outline: none;
}

button svg {
    margin-right: 5px;
}

.result-title {
	width: 30%;
	margin: 0 auto;
}
.result {
	width: 30%;
	margin: 0 auto;
}

@media screen and (max-width: 600px) {
	.result-title {
		width: 100%;
	}
	.result {
		width: 80%;
	}
}
